*.sh.e*
*.sh.o*
*.pyc

af-run/submit.sh
af-scripts/asup.py

*/.ipynb_checkpoints/*
*/.ipynb_checkpoints

af-lib/mosesdecoder/
af-lib/iwslt15-envi-ytl/
af-lib/mustc-en-de/
af-lib/mustc-v2-prep/
af-lib/tst-COMMON.de

af-models/
af-run/asup/
af-run/bkup/
res/
results/
